.filter {
  background-color: #353a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 86vh;
}

.title {
  font-size: 1.7rem;
}

.summery {
  width: 30%;
}
